@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

:root {
  --black-basic: #000000;
  --black-medium: #363636;
  --black-light: #464646;
  --neutral-opacity: #0000004d;
  --gray-basic: #7e7e7e;
  --gray-light: #e5e5e5;
  --white-basic: #ffffff;
  --white-opacity-07: #ffffffb3;
  --white-opacity-03: #ffffff4d;

  --yellow: #f7e296;
  --yellow-dark: #f0c52e;
  --green: #91c92f;
  --pink: #f6dada;

  --button-gradient-slider: linear-gradient(180deg, rgb(255, 255, 255) 40%, rgb(247, 226, 150) 40%, rgb(247, 226, 150) 60%, rgb(255, 255, 255) 60%);
  --button-gradient: linear-gradient(180deg, rgb(229, 229, 229) 40%, rgb(240, 197, 46) 40%, rgb(240, 197, 46) 60%, rgb(229, 229, 229) 60%);
  --button-one-gradient: linear-gradient(180deg, rgb(255, 255, 255) 40%, rgb(240, 197, 46) 40%, rgb(240, 197, 46) 60%, rgb(229, 229, 229) 60%);
  --button-gradient-white: linear-gradient(180deg, rgb(255, 255, 255) 40%, rgb(240, 197, 46) 40%, rgb(240, 197, 46) 60%, rgb(255, 255, 255) 60%);
  --yellow-gradient-slider: linear-gradient(180deg, rgb(247, 226, 150) 112px, rgb(255, 255, 255) 112px);
  --gray-gradient-slider: linear-gradient(180deg, rgb(255, 255, 255) 35%, rgb(229, 229, 229) 35%);

  --alt-font: "Open Sans", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Девайс — 1160px (1200px с учётом padding). */
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Служебные */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--black-basic);
}

.text {
  margin: 0;
}

.title {
  font-family: inherit;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding-bottom: 40px;
}

.title-letter-spacing {
  letter-spacing: 0.2em;
}

.text-main {
  font-family: var(--alt-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 40px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  min-height: 187px;
  margin-top: 40px;
  padding: 0 60px 50px 60px;
  background-color: var(--yellow);
}

.main-logo {
  position: relative;
  bottom: 20px;
  display: block;
}

.wrapper-header-link {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

/* форма поиска */
.form-search-input {
  position: relative;
  height: 50px;
  display: flex;
}

.form-search-input::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-search.png);
  top: 16px;
  left: 0;
}

.search-input {
  width: 356px;
  padding: 5px;
  padding-left: 30px;
  text-align: right;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid var(--black-basic);
}

.search-input::placeholder {
  content: "Поиск по сайту";
  text-align: left;
  color: var(--neutral-opacity);
}

.form-search-button {
  width: 84px;
  height: 50px;
  padding: 0;
  display: none;
  font-family: var(--alt-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--black-basic);
  color: var(--black-basic);
  background-color: transparent;
}

.form-search-button:hover,
.form-search-button:focus {
  color: var(--white-basic);
  background-color: var(--black-basic);
}

.form-search-button:active {
  color: var(--white-opacity-03);
}

.search-input:focus+.form-search-button {
  display: block;
}


/* USER MENU */
.wrapper-user-link {
  position: relative;
  width: 500px;
  padding-top: 7px;
  display: flex;
}

.header-link {
  position: relative;
  font-family: var(--alt-font);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  padding-left: 25px;
}

.header-link:not(:last-child) {
  margin-right: 40px;
}

.compare {
  margin-left: auto;
}

.header-link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
}

.login::before {
  width: 13px;
  height: 14px;
  background-image: url(../img/icon-user.png);
}

.compare::before {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon-chart.png);
}

.basket::before {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-cart.png);
}

/* MAIN MENU */
.main-navigation-list {
  display: flex;
  font-family: inherit;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.submenu {
  position: relative;
  margin-right: auto;
  padding-right: 30px;
}

.submenu::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -7px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-plus.png);
}

.main-navigation-item:nth-child(2) {
  margin-right: 50px;
}

.main-navigation-item:nth-child(3) {
  margin-right: 121px;
}

.wrapper-submenu-list {
  display: none;
  position: absolute;
  width: 1160px;
  min-height: 163px;
  left: -60px;
  padding: 30px 60px;
  font-family: var(--alt-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  flex-wrap: wrap;
  background-color: var(--yellow);
}

.submenu-list {
  display: flex;
}

.submenu:hover>.wrapper-submenu-list {
  display: flex;
  z-index: 1;
}

.submenu-item {
  padding-bottom: 17px;
}

.wrapper-submenu-item:not(:last-child) {
  margin-right: 60px;
}

/* MAIN */
.main-slider {
  position: relative;
  height: 533px;
  background-image: var(--yellow-gradient-slider);
}

.main-slider-item {
  display: flex;
  justify-content: space-around;
}

.wrapper-main-slider-text {
  width: 511px;
  padding: 20px;
  padding-top: 75px;
}

.wrapper-main-slider-text h3 {
  padding-bottom: 30px;
}

.text-slider {
  padding-bottom: 60px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.wrapper-main-slider-text a {
  width: 220px;
  min-height: 40px;
  padding: 9px 43px;
  margin-bottom: 60px;
  display: block;

  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-image: var(--button-gradient-slider);
}

.main-slider-img-selfie {
  width: 384px;
  height: 486px;
}

.main-slider-img-bracelet {
  width: 345px;
  height: 485px;
}

.main-slider-img-quadcopter {
  width: 526px;
  height: 334px;
  margin-top: 60px;
}

.dis-none {
  display: none;
}

.popular {
  padding-top: 57px;
  padding-bottom: 20px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
}

.popular-item-img {
  width: 160px;
  height: 160px;
  position: relative;
  background-color: var(--yellow);
}

.popular-item-img::before {
  content: "";
  position: absolute;
}

.popular--1::before {
  background-image: url(../img/popular-1.png);
  width: 97px;
  height: 55px;
  top: 53px;
  left: 30px;
}

.popular--2::before {
  background-image: url(../img/popular-2.png);
  width: 85px;
  height: 117px;
  top: 26px;
  left: 36px;
}

.popular--3::before {
  background-image: url(../img/popular-3.png);
  width: 71px;
  height: 87px;
  top: 37px;
  left: 43px;
}

.popular--4::before {
  background-image: url(../img/popular-4.png);
  width: 107px;
  height: 65px;
  top: 49px;
  left: 25px;
}

.popular--5::before {
  background-image: url(../img/popular-5.png);
  width: 56px;
  height: 98px;
  top: 32px;
  left: 50px;
}

.popular--6::before {
  background-image: url(../img/popular-6.png);
  width: 132px;
  height: 69px;
  top: 47px;
  left: 14px;
}

.popular-item-title {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.table-description {
  width: 444px;
  font-family: 'Gilroy';
  font-weight: 300;
  letter-spacing: 0.1em;
}

.row-specifications {
  font-size: 36px;
  line-height: 42px;
}

.row-category {
  font-size: 13px;
  line-height: 15px;
}

.main-slider-controls {
  position: absolute;
  width: 75px;
  height: 12px;
  right: 91px;
  bottom: 180px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.slider-controls-button {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--black-basic);
  cursor: pointer;
}

.services-slider {
  min-height: 450px;
  display: flex;
  /* align-items: center; */
  background-image: var(--gray-gradient-slider);
}

.services-slider-controls {
  width: 284px;
  height: 320px;
  margin-top: 67px;
  border-right: 7px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-slider-list {
  position: relative;
  width: 100%;
  padding: 126px 250px 0 123px;
}

.services-slider-text {
  padding: 0;
}

.services-slider-item::before {
  content: "";
  position: absolute;
}

.slider-delivery::before {
  background-image: url(../img/delivery.png);
  top: 10px;
  right: 0;
  width: 136px;
  height: 164px;
}

.slider-guarantee::before {
  background-image: url(../img/warranty.png);
  top: 10px;
  right: 0;
  width: 171px;
  height: 195px;
}

.slider-credit::before {
  background-image: url(../img/credit.png);
  top: 10px;
  right: 0;
  width: 156px;
  height: 188px;
}

.services-button {
  min-height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;

  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  border: none;
}

.button-color {
  width: 160px;
  background-image: var(--button-gradient);
}

.button-one-gradient {
  background-image: var(--button-one-gradient);
}

.active-services-button {
  width: 277px;
  background: var(--black-basic);
  color: var(--yellow);
}

.partners {
  padding-top: 90px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}

.info {
  width: 473px;
}

.contacts {
  width: 560px;
}

.delivery-list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.delivery-item:not(:last-child) {
  padding-bottom: 20px;
}

.wrapper-link {
  margin-top: 85px;
  display: block;
  width: 260px;
  background-image: var(--button-gradient-white);
  min-height: 40px;
  padding: 9px 20px;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-footer {
  background-color: var(--black-medium);
  padding: 65px 140px;
  color: var(--white-basic);
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.footer-link {
  color: var(--white-basic);
}

.wrap-footer-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-links {
  width: 325px;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: var(--white-opacity-07);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 423px;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.wrap-footer-social {
  justify-content: center;
}
